<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
    <a href="/users/auth/facebook" class="btn btn-block btn-social btn-facebook">
      <span class="fa fa-facebook"></span> Agregar cuenta de Facebook
    </a>
    <a href="/users/auth/twitter" class="btn btn-block btn-social btn-twitter">
      <span class="fa fa-twitter"></span> Agregar cuenta de Twitter
    </a>
    <a href="users/auth/google_oauth2" class="btn btn-block btn-social btn-google">
      <span class="fa fa-google"></span> Agregar cuenta de Google
    </a>
    <div class="field">
      <%= f.label :espol %><br>
      <%= f.text_field :espol %>
    </div>

    <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
