<head>
  <%= stylesheet_link_tag "estilo-principal", media: "all" %>
  <%= stylesheet_link_tag "bootstrap-social", media: "all" %>
  <%= stylesheet_link_tag "estilo-window", media: "all" %>
  <%= stylesheet_link_tag "menu-principal", media: "all" %>
  <%= javascript_include_tag "window" %>
  <%= javascript_include_tag "FileSaver"%>
</head>
<%= render 'menu_application' %>

<p id="notice"><%= notice %></p>

<p>
  <strong>UserId:</strong>
  <%= @user.id  %>
</p>
<p>
  <strong>Nombre:</strong>
  <%= @user.name  %>
</p>

<p>
  <strong>Cuenta Espol:</strong>
  <%= @user.espol %>
</p>

<p>
  <strong>Cuenta Facebook:</strong>
  <%= @user.facebook  %>
</p>

<p>
  <strong>Cuenta Twitter:</strong>
  <%= @user.twitter  %>
</p>

<p>
  <strong>Cuenta Google:</strong>
  <%= @user.google  %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
