<%= form_for @diagram , remote: true do |f| %>
    <% if @diagram.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@diagram.errors.count, "error") %> prohibited this diagram from being saved:</h2>

          <ul>
            <% @diagram.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %><br>
    </div>
    <br>
    <div class="field">
      <%= f.label :global_id , hidden: true%>
      <%= f.text_field :global_id, {id: 'form-global-id'} %>
    </div>
    <div class="field" hidden>
      <%= text_area_tag(:diagram_entities ,"Entities", size: "24x6", id: 'imagen-svg-entities')%><br>
    </div>
    <div class="field" hidden>
      <%= text_area_tag(:diagram_relations,"Relations", size: "24x6", id: 'imagen-svg-relations') %><br>
    </div>
    <div class="modal-footer">
      <p id="mensaje-guardado" class="text-success">Diagrama Guardado</p>
      <button id="close-save-button" type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      <%= f.submit "Guardar", id:"guardar-Button", class: "btn btn-primary"%>
    </div>
<% end %>
