<head>
  <%= Gon::Base.render_data %>
  <!-- JQueryUI -->
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
  <script type="text/javascript">stLight.options({publisher: "4c53ea28-073c-4903-b3b0-36d138298f11", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
  <!-- Ours-->
  <%= stylesheet_link_tag "estilo-principal", media: "all" %>
  <%= stylesheet_link_tag "bootstrap-social", media: "all" %>
  <%= stylesheet_link_tag "workstation", media: "all" %>
  <%= stylesheet_link_tag "menu-principal", media: "all" %>
</head>
<%= render 'menu_application' %>
<div class="container-fluid">

<%= form_for @diagram, class:'center-block' do |f| %>
    <% if @diagram.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@diagram.errors.count, "error") %> prohibited this diagram from being saved:</h2>

          <ul>
            <% @diagram.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="field">
      <%= f.label :name, "Nombre del Diagrama:" %>
      <%= f.text_field :name %><br>
    </div><br>
    <%= f.submit "Crear Diagrama", id:"crear-Button", class: "btn btn-primary"%>
<% end %>
  </div>